@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./01-variables";
@import "./02-components";

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: $color-lightPurple;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;

  // @media (max-width: 1279.98px) {
  //   font-size: 15px;
  // }
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Montserrat", sans-serif;
}

.bg- {
  &darkPurple {
    background-color: $color-darkPurple;
  }
  &blackPurple {
    background-color: $color-blackPurple;
  }
}

br {
  display: block;
  margin: 12px 0;
  content: " ";

  @media (max-width: 1279.98px) {
    margin: 16px 0;
  }
}

.container {
  @media (max-width: 767.98px) {
    width: 92%;
  }
}

.btn-primary {
  box-shadow: 1px 1px 0 $color-blackPurple, 2px 2px 0 $color-blackPurple,
    3px 3px 0 $color-blackPurple, 4px 4px 0 $color-blackPurple,
    5px 5px 0 $color-blackPurple, 6px 6px 0 $color-blackPurple,
    7px 7px 0 $color-blackPurple, 8px 8px 0 $color-blackPurple,
    8px 8px 10px #222222;

  &:active {
    box-shadow: none;
    transform: translateY(8px);
  }
}

.whiteFilter {
  filter: brightness(0) invert(1);
}
