@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./01-variables";
@import "./02-components";

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: $color-lightPurple;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;

  // @media (max-width: 1279.98px) {
  //   font-size: 15px;
  // }
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Montserrat", sans-serif;
}

.bg- {
  &darkPurple {
    background-color: $color-darkPurple;
  }
}

br {
  display: block;
  margin: 12px 0;
  content: " ";

  @media (max-width: 1279.98px) {
    margin: 16px 0;
  }
}

.container {
  @media (max-width: 767.98px) {
    width: 92%;
  }
}
