@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./01-variables";
@import "./02-components";

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: $color-lightPurple;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  // overflow-x: hidden;
}

.bg- {
  &lightPurple {
    background-color: $color-lightPurple;
  }
  &darkPurple {
    background-color: $color-darkPurple;
  }
}

br {
  display: block;
  margin: 12px 0;
  content: " ";
}
